
@media print {

	.ole, #home-slider, header, #supersized, #back-to-top, .font-icon-plus {
		display: none !important;
	}


	/* ==================================================
	   Basic Styles
	================================================== */

	html, body {
		height: 100%;
	}

	html, hmtl a{
		width:100%;
		font-size: 100%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

	body{
		color:#3D3D3C;
		font-size:11px;
		font-family: 'Titillium Web', sans-serif;
		position: relative;
	}


	a{
		color:#BB0B28;
		text-decoration: none;
		cursor: pointer;

		-webkit-transition: color 0.1s linear 0s;
		   -moz-transition: color 0.1s linear 0s;
			 -o-transition: color 0.1s linear 0s;
			    transition: color 0.1s linear 0s;
	}

	a:hover,
	a:active,
	a:focus{
		outline: 0;
		color:#011C06;
		text-decoration:none;
	}

	a img {
		border: none;
	}

	a > img {
		vertical-align: bottom;
	}

	img {
		max-width: 300px;
		max-height: 150px;
		margin: 10px;
	}

	strong {
	  	font-weight: 500;
	}

	p {
		margin: 0 0 10px;
	}

	blockquote {
		padding: 5px 15px;
		font-size: 12px;
  	border-left: 2px solid #BB0B28;
	}

	blockquote p {
		font-size: 12px;
	}

	.container {
	    max-width: none;;
	    width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	.accordion-group {
	  	margin-bottom: 4px;
	  	border: none;
	  	-webkit-border-radius: 0;
	       -moz-border-radius: 0;
	          	border-radius: 0;
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.accordion-heading {
	  	border-bottom: 0 none;
	}

	.accordion-heading .accordion-toggle {
		position: relative;
	  	display: block;
	  	padding: 15px;
		color: #23262C;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;

		-webkit-transition: all 0.1s linear 0s;
		-moz-transition: all 0.1s linear 0s;
		-ms-transition: all 0.1s linear 0s;
		-o-transition: all 0.1s linear 0s;
		transition: all 0.1s linear 0s;
	}

	.accordion-heading:hover .accordion-toggle,
	.accordion-heading:hover .accordion-toggle.inactive {
		color:#FFFFFF;
	}

	.accordion-heading .accordion-toggle.active {
		color:#FFFFFF;
	}

	.accordion-heading .accordion-toggle.inactive {
	}

	.accordion-heading.accordionize .accordion-toggle span,
	.accordion-heading.togglize .accordion-toggle span {
	    position: absolute;
	    top: 50%;
	    right: 20px;
	    margin: -8px 0 0 0;
	    color: #23262C;
	    font-size: 12px;

		-webkit-transition: all 0.1s linear 0s;
		-moz-transition: all 0.1s linear 0s;
		-ms-transition: all 0.1s linear 0s;
		-o-transition: all 0.1s linear 0s;
		transition: all 0.1s linear 0s;
	}

	.accordion-heading:hover .accordion-toggle span {
		color: #FFFFFF;
	}

	.accordion-heading .accordion-toggle.active span,
	.accordion-heading:hover .accordion-toggle.inactive span {
		color: #FFFFFF;
	}

	.accordion-heading.accordionize .accordion-toggle.active span,
	.accordion-heading.togglize .accordion-toggle.active span {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.accordion-heading.togglize .accordion-toggle span {
		margin: -8px 0 0 0;
		font-size: 18px;
	}

	.accordion-heading.togglize .accordion-toggle.active span {
		opacity:0;
		filter: alpha(opacity=0);
	}

	.accordion-heading.togglize .accordion-toggle.active span + span {
		opacity:1;
		filter: alpha(opacity=100);
	}

	.accordion-inner {
		background: #FAF9F5;
	  	padding: 10px;
		border: none;
	  color: #3D3D3C;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.skills {
	  color: #BB0B28;
	  text-align: center;
	  padding-bottom: 5px;
	  padding-top: 0px;
	}


	hr {
		border-style: dashed;
		border-color: #3C3F45;
		border-bottom: none;
		border-left: none;
		border-right: none;
		margin: 10px 0;
	}

	.align_left{
		float:left;
		margin:0 25px 0 0px!important;
	}

	.align_right{
		float:right;
		margin:0 0 0 25px!important;
	}

	.text_align_left {
		text-align: left;
	}

	.text_align_center {
		text-align: center;
	}

	.text_align_right {
		text-align: right;
	}

	.color-text {
	    color: #BB0B28;
	}

	.through{
		text-decoration:line-through;
	}

	input, button, select, textarea {
		font-weight: 300;
		font-family: 'Titillium Web', sans-serif;
		outline: 0;
	}

	input:focus,
	textarea:focus,
	input[type="text"]:focus {
		outline: 0;
	}

	input:-moz-placeholder,
	textarea:-moz-placeholder {
	  color: #7F8289;
	}

	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
	  color: #7F8289;
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
	  color: #7F8289;
	}

	/* ==================================================
	   Code and Pre
	================================================== */

	code,	pre {display: none;}

	/* ==================================================
	   Typography
	================================================== */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		margin:0 0 10px 0;
		color:#000000;
		font-weight:300;
		font-family: 'Titillium Web', sans-serif;
	}

	h1{
		font-size:20px;
	}

	h2{
		font-size:18px;
	}

	h3{
		font-size:14px;
	}

	h4{
		font-size:12px;
		color: #BB0B28;
		font-weight: bold;
	}

	h5{
		font-size:12px;
	}

	h6{
		font-size:12px;
	}

	h3.spec {
		color: #000000;
	    font-size: 14px;
	    font-weight: 300;
	    text-transform: uppercase;
	}



	/* ==================================================
	   Margin Bottom Sets
	================================================== */

	.margin-0{
		margin-bottom:0 !important;
	}

	.margin-10{
		margin-bottom:10px !important;
	}

	.margin-15{
		margin-bottom:15px !important;
	}

	.margin-20{
		margin-bottom:20px !important;
	}

	.margin-30{
		margin-bottom:30px !important;
	}

	.margin-40{
		margin-bottom:40px !important;
	}

	.margin-50{
		margin-bottom:50px !important;
	}

	.margin-60{
		margin-bottom:60px !important;
	}

	.margin-70{
		margin-bottom:70px !important;
	}

	.margin-80{
		margin-bottom:80px !important;
	}


	/* ==================================================
	   Section Page
	================================================== */

	.page {
		position: relative;
	}

	@media(max-width:767px) {
	  .page {
			padding: 10px 0;
	  }
	}

	/* ==================================================
	   Section Portfolio
	================================================== */

	.type-work {
		color: #000000;
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 30px;
		line-height: 1em;
		text-transform: uppercase;
	}

	.work-nav #filters {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.work-nav #filters li {
		margin: 0 0 30px 0;
		padding: 0;
	}

	.work-nav #filters li a {
		color: #7F8289;
		font-size: 12px;
		display: block;
	}

	.work-nav #filters li a:hover {
		color: #FFFFFF;
	}

	.work-nav #filters li a.selected {
		color: #BB0B28;
	}

	#thumbs {
		margin: 0;
		padding: 0;
	}

	#thumbs li {
		list-style-type: none;
	}

	.item-thumbs {
		position: relative;
		overflow: hidden;
		margin-bottom: 0px;
		cursor: pointer;
	}

	/* ==================================================
	   About Section
	================================================== */

	.profile-name {
		margin-bottom: 15px;
	}

	.profile-description {
		margin-bottom: 25px;
	}

	.image-wrap {
		position: relative;
		overflow: hidden;
		margin-bottom: 0px;
		cursor: pointer;
	}

	.social-icons {
		margin: 0;
		padding: 0;
	}

	.social-icons li {
		margin-left: 15px;
	}

	.social-icons li:first-child {
		margin-left: 0;
	}

	.social-icons li a{
		color: #FFFFFF;
		font-size: 10px;
		line-height: 1em;
		width: 16px;
		height: 16px;

		opacity: 0.3;
		filter: alpha(opacity=30);

		-webkit-transition: opacity 0.1s linear 0s;
		   -moz-transition: opacity 0.1s linear 0s;
			 -o-transition: opacity 0.1s linear 0s;
			    transition: opacity 0.1s linear 0s;
	}

	.social-icons li a:hover{
		opacity: 1;
		filter: alpha(opacity=100);
	}

	/* ==================================================
	   Contact Section
	================================================== */

	.contact-details,	#contact-form,	#response {display: none;	}


	/* ==================================================
	   Twitter Feed
	================================================== */

	#twitter-feed {display: none;	}

	/* ==================================================
	   Social Area
	================================================== */

	#interests1 .row .col-md-6, #project1 .row .col-md-6 {
		max-width: 30%;
	}

	#social-area {
	    text-align: center;
			height: 0px!important;
	}

	#social-area #social ul {
		margin: 0;
		padding: 0;
		height: 0px!important;
	}

	#social-area #social ul li {
		display: inline-block;
		margin-left: 0px;
		list-style: none;
		color: black;
		height: 0px!important;
	}

	#social-area #social ul li:first-child {
		margin-left: 0;
	}

	#social ul li a {
		display: block;
		margin: 0;
		height: 0px!important;

		-webkit-transition: all 400ms ease-out 0s;
		   -moz-transition: all 400ms ease-out 0s;
			 -o-transition: all 400ms ease-out 0s;
			    transition: all 400ms ease-out 0s;

		-webkit-transform: rotateY(180deg);
		   -moz-transform: rotateY(180deg);
			-ms-transform: rotateY(180deg);
			 -o-transform: rotateY(180deg);
				transform: rotateY(180deg);
	}

	#social ul li a span {
		display: inline-block;
		margin: 0;
		color: black;
		height: 0px!important;
		opacity: 0.3;
		filter: alpha(opacity=30);

		-webkit-transition: all 400ms ease-out 0s;
		   -moz-transition: all 400ms ease-out 0s;
			 -o-transition: all 400ms ease-out 0s;
			    transition: all 400ms ease-out 0s;

		-webkit-transform: rotateY(180deg);
		   -moz-transform: rotateY(180deg);
			-ms-transform: rotateY(180deg);
			 -o-transform: rotateY(180deg);
				transform: rotateY(180deg);
	}

	[class^="font-"]::before, [class*=" font-"]::before {
		font-size: small;
	}

	/* ==================================================
	   Footer
	================================================== */

	footer {
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
	}

	footer .credits {
		display: none;
	}


	/* ==================================================
	   Preloader
	================================================== */

	#jpreOverlay,	#jSplash,	#jpreSlide, 	#jpreLoader ,	#jprePercentage, #circle {
		display: none;
	}

	/* ==================================================
	   Others
	==================================================*/


	.breadcrumb {display:none;	}

	.container {
		margin-left: auto;
		 margin-right: auto;
	}

	.container ul {
		margin-left: 25px;
	}

	.container li {
		margin-bottom: 5px;
	}

}
