[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://www.evernote.com/shard/s165/res/062f9f2e-75d7-452e-9f0a-e8f017f3a93b.jpg
Type=Link
URL=https://www.evernote.com/shard/s165/res/062f9f2e-75d7-452e-9f0a-e8f017f3a93b.jpg
Icon=text-html
